.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #ccc;
}

.header ul {
  display: flex;
  list-style: none;
}

.header li {
  padding: 10px 15px;
}
