<div class="app__body">
  <section class="categoria">
    <div class="container">
      <h2>Nuestras Categorías</h2>

      <div class="categoria__grid">
        <div *ngFor="let category of categories">
          <div class="categoria__img"></div>
          <div class="categoria__description">
            <h3 [class.active]="category == selectedCategory">
              {{ category.name }}
              ({{ category.id }})
            </h3>
            <p>
              {{ category.description }}
            </p>
            <button (click)="openForEdit(category)">Editar</button>
            <button (click)="delete(category.id)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="form__category">
    <div class="container">
      <h3>Añadir Categoria</h3>

      <form (submit)="addOrEdit()">
        <div class="form__container">
          <label for="name">Nombre</label>
          <input
            type="text"
            name="name"
            id="name"
            #name
            [(ngModel)]="selectedCategory.name"
          />
          <label for="description">Descripcion</label>
          <input
            type="text"
            name="description"
            id="description"
            [(ngModel)]="selectedCategory.description"
          />
          <input type="submit" value="Guardar" />
        </div>
      </form>
    </div>
  </section>
</div>
