* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway',
    sans-serif;
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eee;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__body {
  flex: 1;
}


h1,
h2 {
  font-family: 'Montserrat Subrayada',
    sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

section {
  margin: 20px 0;
  padding: 20px 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
